{% raw %}{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'home' %}">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex">
        {% if request.user.is_authenticated %}
        {# URL provided by django-allauth/account/urls.py #}
        <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
        {# URL provided by django-allauth/account/urls.py #}
        <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
        {% else %}
        {# URL provided by django-allauth/account/urls.py #}
        <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        {# URL provided by django-allauth/account/urls.py #}
        <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>{% endraw %}
