{% raw %}{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="card shadow mx-auto" style="width: 600px">
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
      <div class="card-body">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block my-2">Update</button>
      </div>
    </form>
  </div>

{% endblock %}
{%- endraw %}
