{% raw %}{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-5">
        <div class="card shadow">
          <div class="card-body text-center">
            {% if object.avatar %}
              <img src="{{ object.avatar.url }}" alt="avatar">
            {% else %}
              <img class="rounded-circle" width="100" height="100" src="{% static 'images/avatar.png' %}" alt="avatar">
            {% endif %}
            <h5 class="card-title">{{ object.username }}</h5>
            <hr />
            <div class="card-text">
              {% if object.name %}
                <p>{{ object.name }}</p>
              {% endif %}
            </div>
            {% if object == request.user %}
                  <a class="btn btn-primary btn-sm" href="{% url 'users:update' %}" role="button">{% trans 'Update' %}</a>
                  <a class="btn btn-primary btn-sm" href="{% url 'account_email' %}" role="button">{% trans 'Emails' %}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">{% trans 'My Information' %}</h5>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{%- endraw %}
